<div class="view_crow">
  <div class="view_crow__eye">
    <div class="view_crow__eye_1">
      <div class="view_crow__eye_2"></div>
    </div>
  </div>
<div class="view_crow__pecker"></div>
<div class="view_crow__wing"></div>
</div>