<<<<<<< HEAD
<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>
=======
<h1>Jeu du corbeau</h1>

<% @games.each do |game| %>
      <div>
        <%=link_to "play test", game %>
      </div>
<% end %>

>>>>>>> 7cad6582ead59a81b777bb1b020d807c671b50bb
