<h1>Jeu du corbeau</h1>
<p> <%= notice %></p>

<% @games.each do |game| %>
      <div>
        <%=link_to "play test", game %>
      </div>
<% end %>

<%= button_to "démarrer le nouveau jeu ", games_new_path %>