<h1>Mon premier verger#index</h1>

<p>Find me in app/views/games/index.html.erb</p>




</div>

<br>
<%= link_to 'Mon premier verger', games_game_path, class:"btn btn-info" %>
<div class="row">
    <div class="col-xs-5 col-md-2">.col-xs-12 .col-md-5</div>
</div>

<br>




<%= link_to 'la Régle du jeu', games_game_path, class:"btn btn-success" %>





