.item{
  font-size: 0.5rem;
  margin: 1.5rem;
  position: relative;
  display: inline-block;
}

.red {
  width:6em;
  height:5em;
  background-color:  #ff4355;
  box-shadow: inset 0.2em -0.2em  #cc1022;
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.red:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   #ff4355, inset .2em 0.2em  #ff4355;
}

.red:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

.yellow {
  width:5.4em;
  height: 5.4em;
  margin-top: 1.2em;
  background-color: #d7c322;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(-45deg);
  box-shadow: inset .15em .25em #c3b11f;
  position: absolute;
  left: 0.6em;
}

.yellow:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.2em;
  left: 5.1em;
  transform: rotate(45deg);
}

.blue {
  position: absolute;
  width:6em;
  height: 5.5em;
  top: 0.6em;
  left:0.4em;
  border-radius: 50%;
  background-color: #89a2ca;
  box-shadow: inset 0.2em -.2em  #6081B8;
}

.blue:before{
  content: "";
  width: 2em;
  height: 1em;
  left: 2em;
  position: absolute;
  background-color: #3e4d64;
  border-radius:50%;
}

.green {
  width:6em;
  height:5em;
  background-color:  rgb(41,154,11);
  box-shadow: inset 0.2em -0.2em  rgb(41,154,11);
  border-radius: 2em 2em 3em 3em;
  position:absolute;
  top: 1em;
  left:0.3em;
}

.green:before {
  top:-.2em;
  left:1.8em;
  content:"";
  width:4.1em;
  height:2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0 ;
  position: absolute;
  box-shadow:-1.5em 0 0   rgb(41,154,11), inset .2em 0.2em  rgb(41,154,11);
}

.green:after{
  content:"";
  width: 0.2em;
  height: 1em;
  background-color:brown;
  position:absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}
