// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red{
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid black ;
}

.green{
  width: 40px;
  height: 40px;
  background-color: greenyellow;
  border: 1px solid black ;
}

.blue{
  width: 40px;
  height: 40px;
  background-color: deepskyblue;
  border: 1px solid black ;
}

.yellow{
  width: 40px;
  height: 40px;
  background-color: yellow;
  border: 1px solid black ;
}